<?xml version="1.0"?>
<model>
  <name>adaptive_bot</name>
  <version>1.0</version>
  <sdf version="1.8">robot.urdf</sdf>

  <author>
    <name>Gabriel Cimoch</name>
    <email>gabec@example.com</email>
  </author>

  <description>
    A differential drive robot with terrain-adaptive torque logic.
  </description>
</model>